.satu {
     width: 200px;
     height: 200px;
     margin: 50px auto;
     background-image: linear-gradient(red,blue);
}

.dua {
     width: 200px;
     height: 200px;
     margin: 60px auto;
     background-image: linear-gradient(salmon,green);
}

.dua:hover {
     background-image: linear-gradient(green, salmon);
}
