.satu {
     width: 200px;
     height: 200px;
     margin: 50px auto;
     background-image: linear-gradient(red,blue);
}

.dua {
     width: 200px;
     height: 200px;
     margin: 60px auto;
     background-image: linear-gradient(salmon,green);
     transition: .3s;
}

.dua:hover {
     width: 300px;
     height: 300px;
     box-shadow: 0px 80px 10px -40px rgba(0,0,0,.75);
     background-image: linear-gradient(green, salmon);
}
